.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 1em;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #ffbb33;
}
.logo span{
   margin-left:0.5em;
   font-size: 40px;
   font-weight: bold;
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
    
    
}

.item{
    margin-right: 1em;
    
}

.item a{
    color: #fff;
    text-decoration: none;
    

}

.item a:hover{
    color: #ffbb33;
    
}